{% extends "ru/templates/page.html" %} 

{% block link %}

{% endblock %}

{% block breadcrumb %}
<li class="active">
    <a href="#">
        <small><strong>Обратная связь</strong></small>
    </a>
</li>
{% endblock %} 

{% block picture %}
    background-image: url(../img/chapters/2.6_soc_rep.jpg);
{% endblock %}

{% block titleText%} Обратная связь {% endblock %}

{% block subtitleText %}
{% endblock %}

{% block content %}
<form action="/feedback" method="POST">
    <div class="form-group">
        <label for="name">Фамилия Имя Отчество</label>
        <input type="text" class="form-control" id="name" name="answers[name]" required>
    </div>

    <div class="form-group">
        <label for="position">Должность</label>
        <input type="text" class="form-control" id="position" name="answers[position]" required>
    </div>

    <div class="form-group">
        <label for="organization">Организация</label>
        <input type="text" class="form-control" id="organization" name="answers[organization]" required>
    </div>

    <div class="form-group">
        <label for="contacts">Контактные данные</label>
        <input type="text" class="form-control" id="contacts" name="answers[contacts]" placeholder="E-mail, телефон или т.п." required>
    </div>

    <div id="sideRadios" class="form-group">
        <label>Укажите, к какой группе заинтересованных сторон вы относитесь</label>
        <div class="custom-control custom-radio">
            <input type="radio" id="sideRadio1" name="answers[side]" value="Акционер" class="custom-control-input">
            <label class="custom-control-label" for="sideRadio1">Акционер</label>
        </div>
        <div class="custom-control custom-radio">
            <input type="radio" id="sideRadio2" name="answers[side]" value="Органы, представляющие интересы работников, персонал" class="custom-control-input">
            <label class="custom-control-label" for="sideRadio2">Органы, представляющие интересы работников, персонал</label>
        </div>
        <div class="custom-control custom-radio">
            <input type="radio" id="sideRadio3" name="answers[side]" value="Органы государственной власти" class="custom-control-input">
            <label class="custom-control-label" for="sideRadio3">Органы государственной власти</label>
        </div>
        <div class="custom-control custom-radio">
            <input type="radio" id="sideRadio4" name="answers[side]" value="Органы государственного контроля" class="custom-control-input">
            <label class="custom-control-label" for="sideRadio4">Органы государственного контроля</label>
        </div>
        <div class="custom-control custom-radio">
            <input type="radio" id="sideRadio5" name="answers[side]" value="Международные организации" class="custom-control-input">
            <label class="custom-control-label" for="sideRadio5">Международные организации</label>
        </div>
        <div class="custom-control custom-radio">
            <input type="radio" id="sideRadio6" name="answers[side]" value="Профессиональные ассоциации" class="custom-control-input">
            <label class="custom-control-label" for="sideRadio6">Профессиональные ассоциации</label>
        </div>
        <div class="custom-control custom-radio">
            <input type="radio" id="sideRadio7" name="answers[side]" value="Финансовые учреждения, страховщики" class="custom-control-input">
            <label class="custom-control-label" for="sideRadio7">Финансовые учреждения, страховщики</label>
        </div>
        <div class="custom-control custom-radio">
            <input type="radio" id="sideRadio8" name="answers[side]" value="Партнеры (заказчики, поставщики)" class="custom-control-input">
            <label class="custom-control-label" for="sideRadio8">Партнеры (заказчики, поставщики)</label>
        </div>
        <div class="custom-control custom-radio">
            <input type="radio" id="sideRadio9" name="answers[side]" value="Научное сообщество, образовательные учреждения" class="custom-control-input">
            <label class="custom-control-label" for="sideRadio9">Научное сообщество, образовательные учреждения</label>
        </div>
        <div class="custom-control custom-radio">
            <input type="radio" id="sideRadio10" name="answers[side]" value="Общественные организации" class="custom-control-input">
            <label class="custom-control-label" for="sideRadio10">Общественные организации</label>
        </div>
        <div class="custom-control custom-radio">
            <input type="radio" id="sideRadio11" name="answers[side]" value="Представитель экспертного сообщества" class="custom-control-input">
            <label class="custom-control-label" for="sideRadio11">Представитель экспертного сообщества</label>
        </div>
        <div class="custom-control custom-radio">
            <input type="radio" id="sideRadio12" name="answers[side]" value="other" class="custom-control-input">
            <label class="custom-control-label" for="sideRadio12">Другое (укажите)</label>
        </div>
        <input class="form-control" id="disabledInput" type="text" name="sideOther" placeholder="Указать иное..." disabled>
    </div>

    <div class="form-group">
        <label>Достоверность и объективность</label>
        <div class="custom-control custom-radio">
            <input type="radio" id="reliabRadio1" name="answers[reliability]" value="Отлично" class="custom-control-input">
            <label class="custom-control-label" for="reliabRadio1">Отлично</label>
        </div>

        <div class="custom-control custom-radio">
            <input type="radio" id="reliabRadio2" name="answers[reliability]" value="Хорошо" class="custom-control-input">
            <label class="custom-control-label" for="reliabRadio2">Хорошо</label>
        </div>

        <div class="custom-control custom-radio">
            <input type="radio" id="reliabRadio3" name="answers[reliability]" value="Удовлетворительно" class="custom-control-input">
            <label class="custom-control-label" for="reliabRadio3">Удовлетворительно</label>
        </div>

        <div class="custom-control custom-radio">
            <input type="radio" id="reliabRadio4" name="answers[reliability]" value="Неудовлетворительно" class="custom-control-input">
            <label class="custom-control-label" for="reliabRadio4">Неудовлетворительно</label>
        </div>
    </div>

    <div class="form-group">
        <label>Повлияло ли на Вашу оценку наличие в отчете заключений независимых аудиторов и заключений о независимом общественном заверении – экспертном (РСПП, РРС) и стейкхолдерском?</label>
        <div class="custom-control custom-radio">
            <input type="radio" id="decideRadio1" name="answers[decide]" value="Да" class="custom-control-input">
            <label class="custom-control-label" for="decideRadio1">Да</label>
        </div>
        <div class="custom-control custom-radio">
            <input type="radio" id="decideRadio2" name="answers[decide]" value="Нет" class="custom-control-input">
            <label class="custom-control-label" for="decideRadio2">Нет</label>
        </div>
    </div>

    <div class="form-group">
        <label>Полнота и существенность информации</label>
        <div class="custom-control custom-radio">
            <input type="radio" id="informRadio1" name="answers[inform]" value="Отлично" class="custom-control-input">
            <label class="custom-control-label" for="informRadio1">Отлично</label>
        </div>

        <div class="custom-control custom-radio">
            <input type="radio" id="informRadio2" name="answers[inform]" value="Хорошо" class="custom-control-input">
            <label class="custom-control-label" for="informRadio2">Хорошо</label>
        </div>

        <div class="custom-control custom-radio">
            <input type="radio" id="informRadio3" name="answers[inform]" value="Удовлетворительно" class="custom-control-input">
            <label class="custom-control-label" for="informRadio3">Удовлетворительно</label>
        </div>

        <div class="custom-control custom-radio">
            <input type="radio" id="informRadio4" name="answers[inform]" value="Неудовлетворительно" class="custom-control-input">
            <label class="custom-control-label" for="informRadio4">Неудовлетворительно</label>
        </div>
    </div>

    <div class="form-group">
        <label>Структура отчета, удобство поиска нужной информации, стиль изложения</label>
        <div class="custom-control custom-radio">
            <input type="radio" id="structRadio1" name="answers[struct]" value="Отлично" class="custom-control-input">
            <label class="custom-control-label" for="structRadio1">Отлично</label>
        </div>

        <div class="custom-control custom-radio">
            <input type="radio" id="structRadio2" name="answers[struct]" value="Хорошо" class="custom-control-input">
            <label class="custom-control-label" for="structRadio2">Хорошо</label>
        </div>

        <div class="custom-control custom-radio">
            <input type="radio" id="structRadio3" name="answers[struct]" value="Удовлетворительно" class="custom-control-input">
            <label class="custom-control-label" for="structRadio3">Удовлетворительно</label>
        </div>

        <div class="custom-control custom-radio">
            <input type="radio" id="structRadio4" name="answers[struct]" value="Неудовлетворительно" class="custom-control-input">
            <label class="custom-control-label" for="structRadio4">Неудовлетворительно</label>
        </div>
    </div>

    <div class="form-group">
        <label>Отметьте разделы отчета, которые для Вас оказались значимыми и полезными</label>
        <div class="custom-control custom-checkbox">
            <input type="checkbox" id="chaptersCheckbox1" name="answers[chapters]" value="О компании" class="custom-control-input">
            <label class="custom-control-label" for="chaptersCheckbox1">О компании</label>
        </div>
        <div class="custom-control custom-checkbox">
            <input type="checkbox" id="chaptersCheckbox2" name="answers[chapters]" value="Информация об отчете" class="custom-control-input">
            <label class="custom-control-label" for="chaptersCheckbox2">Информация об отчете</label>
        </div>
        <div class="custom-control custom-checkbox">
            <input type="checkbox" id="chaptersCheckbox3" name="answers[chapters]" value="Ключевые события 2017 года" class="custom-control-input">
            <label class="custom-control-label" for="chaptersCheckbox3">Ключевые события 2017 года</label>
        </div>
    </div>

    <div class="form-group">
        <label for="futureThemes">Какие темы, на Ваш взгляд, необходимо включить в следующий отчет?</label>
        <textarea class="form-control" id="futureThemes" name="answers[themes]" rows="3"></textarea>
    </div>

    <div class="form-group">
        <label for="comment">Ваши рекомендации и дополнительные комментарии</label>
        <textarea class="form-control" id="comment" name="answers[comments]" rows="3"></textarea>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary mb-2">Отправить</button>
    </div>
</form>

<script src="/js/feedback.js"></script>
{% endblock %}