<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Modern IT Recruiting</title>

  <link rel="stylesheet" href="../css/bootstrap.css">
  <link rel="stylesheet" href="../css/main.css">
  <link rel="stylesheet" type="text/css" href="../css/captcha.css"/>

</head>

<body>
<div id="ror" class="main">

  <div class="first-block">
    <div class="header container-fluid px-5 pt-5 position-absolute  row justify-content-between">

      <div class="col-7">
        <div class="row ml-1 justify-content-between header-buttons">
          <a class="red-button" href="#submit">Подать заявку</a>
          <a href="#about">О серии игр</a>
          <a href="#games">Ближайшие игры</a>
          <a href="#contacts">Контакты</a>
        </div>
      </div>

      <div class="row col justify-content-end" >
        <a href="http://digital-startup-studio.ru/startup-studio-hq/">
          <img class="align-self-end" src="../img/circle.png">
        </a>
      </div>
    </div>
    <div class="text-front pl-5 showing">
      <p class="red">20 сентября</p>
      <p><b>Москва</b></p>
      <h1><b>Современный</b> <br> <b>ИТ-рекрутинг</b></h1>
      <br>
      <p>ПРОДОЛЖАЕТСЯ <br> серия деловых игр</p>
      <h2 class="red"><b>Генерация</b><br><b>идей</b></h2>
    </div>

    <img class="img-back" src="../img/1block.png">
  </div>

  <br>
  <br>
  <br>

  <div class="second-block">
    <a name="about"></a>
    <h1 class="text-center" id="about">О се<span>рии</span> игр</h1>

    <div class="row container-fluid">
      <img class="pl-0 col-auto" src="../img/block2.png">

      <div class="main-b offset-7 col-5">
        <div id="two" class="down-b hid">
          <p>
            <b>
              Если вы слышали об «Uber» и «Airbnb», значит вы догадываетесь о том, что такое «цифровая платформа». За
              подобными бизнес-решениями будущее. Деловая игра «Генерация идей» – это формат разработки проектных идей
              платформенных стартапов в конкретной сфере деятельности (рыночной нише)
            </b>
          </p>
          <p>
            Наша стартап-студия поставит актуальную проблему в той или иной сфере деятельности и предложит стартовые
            идеи-гипотезы ее решения. Участники игры построят компании, проведут экспресс-исследования лучших практик,
            проработают (поэкспериментируют, детализируют или переделают) наши стартовые идеи, попробуют привлечь в них
            инвестиции. В игре победит та компания, которая сможет произвести наибольшее количество качественных идей,
            привлечь в них максимум инвестиций и затем наиболее выгодно продать их стартап-студии.
          </p>
          <p>
            <b>
              20 сентября 2018 года
            </b>
          </p>
          <p>
            генерация идей платформенных стартапов по теме:
          </p>
          <p>
            <b>
              «Современный ИТ-рекрутинг»
            </b>
          </p>
          <a class="cyan-button" href="#howItWill">Как это будет</a>
        </div>

      </div>
    </div>
  </div>

  <br>
  <br>
  <br>

  <div class="third-block">
    <h1 class="text-center" id="interes">Кому это буд<span>ет и</span>нтересно?</h1>
    <div class="container-fluid row m-0 pr-0 justify-content-between">
      <div id="three" class="col-6 pt-5 hid">
        <p class="mt-5">
          Тем, кто хочет разобраться в современных тенденциях и технологиях ИТ-рекрутинга.
        </p>
        <br>
        <p>
          Тем, кто хочет пройти стажировку в нашей стартап-студи, сделать один, а лучше серию стартапов и стать серийным
          предпринимателем.
        </p>
        <br>
        <p>
          Тем, кто хочет проектировать и строить цифровые платформы в разных сферах деятельности.
        </p>
        <br>
        <p>
          Тем, кто хочет заниматься аналитикой и исследованиями цифровой трансформации и платформизации бизнеса.
        </p>
      </div>
      <div class="justify-content-end col-md-6 pr-0">
        <img src="../img/block3.png">
      </div>
    </div>
  </div>

  <br>
  <br>
  <br>

  <div class="container-fluid forth-block mb-5">
    <a name="howItWill"></a>
    <h1 class="text-center" id="who">Как <span>это </span>будет?</h1>
    <div class="main-b">
      <div id="four" class="down-b row justify-content-around mt-5 hid">
        <div class="col-3">
          <div>
            <p>1 шаг</p>
            <br>
            <p>Подайте заявку - зарегистрируйтесь, заполните анкету. Наши специалисты свяжутся с вами, проведут короткое
              интервью и пригласят на игру. </p>
          </div>
        </div>
        <div class="col-3">
          <div>
            <p>2 шаг</p>
            <br>
            <p>
              Участие в игре «Современный ИТ-рекрутинг».
            </p>
            <p>
              В течение 7 часов (с перерывом на обед) вам предстоит построить компании, сложить партнерские отношения,
              привлечь
              инвестиции, для того чтобы быстро и качественно:
            </p>
            <ul>
              <li>
                изучить «архитектуру» цифровых платформ в рекрутинге;
              </li>
              <li>
                обследовать устройство сетевых сообществ ИТ-специалистов, заказчиков, рекрутеров;
              </li>
              <li>
                разработать проектные идеи для рекрутинговой платформы, проверить их на сетевой эффект;
              </li>
              <li>
                продать стартап-студии платформенные идеи, доказав, что они полезны для решения конкретных проблем в
                ИТ-рекрутменте.
              </li>
            </ul>
          </div>
        </div>
        <div class="col-3">
          <div>
            <p>3 шаг</p>
            <br>
            <p>
              По итогам деловой игры лучшим участникам, которые смогли разработать удачные идеи, а также
              продемонстрировать предперимательское самоопределение, будет предложена стажировка в рекрутском стартапе
              и/или старап-студии.
            </p>
          </div>
        </div>
      </div>
    </div>
    <img class="px-5" src="../img/people2.png">
  </div>

  <br>
  <br>

  <div class="mt-5 five-block">
    <div class="position-absolute">
      <a name="games"></a>
      <h1 class="text-center" id="events">Ближайши<span>е м</span>ероприятия</h1>
      <div class="row">
        <div id="five" class="offset-8 col-4 pl-0 pr-5 hid">
          <p class="left-b">
            Консалтинг цифровой трансформации крупных компаний
          </p>
          <p>
            10 октября, Москва
          </p>
          <br>
          <p class="left-b">
            бизнес-аналитика
          </p>
          <p>
            10 октября, Москва
          </p>
        </div>
      </div>
    </div>
    <img src="../img/rocket.png">
  </div>

  <br>
  <br>

  <div class="six-block">
    <h1 class="text-center" id="targets">Основные направления <br> генер<span>ации</span> идей</h1>
    <div class="container-fluid row m-0 pr-0 justify-content-between">
      <div id="six" class="col-6 pt-5 hid">
        <img src="../img/man.png">
        <h3>
          HR
        </h3>
        <p>
          Проекты по платформизации кадровых процессов
        </p>
        <img src="../img/moni.png">
        <h3>
          IT
        </h3>
        <p>
          Проекты, посвященные цифровым технологиям ( в т.ч. блокчейн, дополненная и виртуальная реальность)
        </p>
        <img src="../img/shee.png">
        <h3>
          Consulting
        </h3>
        <p>
          Проекты по автоматизации публичной корпоративной аналитики (стратегическое позиционирование, публичная
          отчетность) Аналитические и экспертные платформы
        </p>
        <img src="../img/chem.png">
        <h3>
          бизнес-аналитика
        </h3>
        <p>
          Консультационные услуги по сопровождению цифровой трансформации бизнеса.
        </p>
      </div>
      <div class="justify-content-end col-md-6 pr-0">
        <img src="../img/block6.png">
      </div>
    </div>
  </div>

  <br>
  <br>
  <br>


  <div class="seven-block">
    <h1 class="text-center" id="whoWe">Кт<span>о м</span>ы?</h1>

    <div class="row container-fluid">
      <img class="col-auto pl-0" src="../img/block7.png">

      <div class="main-b offset-xs-6 offset-lg-7 col-5">
        <div id="seven" class="down-b hid">
          <p>
            Стартап-студия «Система 2» — это фабрика по производству стартапов, где объединены общей идеей люди с
            предпринимательским мировоззрением - стартаперы, методологи, аналитики, IT-специалисты, готовые создавать
            новые бизнесы.
          </p>
          <p>
            Сферы, в которых мы разрабатываем и реализуем стартапы, разнообразны и продолжают расширятся:
            бизнес-аналитика
            и публичная отчетность, устойчивое развитие компаний, тарифное регулирование, кадры и управление персоналом,
            туризм, дизайн и другие.
          </p>
          <a class="red-button" href="http://digital-startup-studio.ru/startup-studio-hq/">На наш сайт</a>
        </div>

      </div>
    </div>
  </div>

  <br>
  <br>
  <br>

  <div class="eight-block">
    <h1 class="text-center" id="people">Кураторы сер<span>ии </span>деловых игр</h1>
    <br>
    <br>
    <br>
    <div class="main-b">
      <div id="eight" class="down-b row container-fluid d-flex justify-content-around hid">
        <div class="col-2">
          <img src="../img/galushkin.jpg">
          <p>
            <br>
            <b>
              С.В. Галушкин
            </b>
            <br>
            Сооснователь стартап-студии «Система-2», методолог, руководитель проектной поддержки стартапов, Генеральный
            директор консультационно-аналитической компании ООО «ДаС-Проект», руководитель-проектировщик серии деловых
            игр
            «Генератор идей».
          </p>
        </div>
        <div class="col-2">
          <img src="../img/Zagidullin.png">
          <p>
            <br>
            <b>
              Ж.К. Загидуллин
            </b>
            <br>
            Сооснователь стартап-студии «Система-2», руководитель исследований цифровой трансформации и платформизации,
            руководитель направления публичной отчетности и устойчивого развития ГК «Да-Стратегия», член экспертного
            совета по нефинансовой отчетности РСПП, к. философ.н.
          </p>
        </div>
        <div class="col-2">
          <img src="../img/voropaev.jpg">
          <p>
            <br>
            <b>
              А.В. Воропаев
            </b>
            <br>
            Сооснователь стартап-студии «Система-2», руководитель направления консультационной поддержки цифровой
            трансформации бизнеса, Генеральный директор софтверной компании ООО «Платформа».
          </p>
        </div>
        <div class="col-2">
          <img src="../img/Juravlev.png">
          <p>
            <br>
            <b>
              А. Журавлев
            </b>
            <br>
            Сооснователь стартап-студии «Система-2», руководитель направления HR- стартапов, руководитель
            кадрово-аналитического блока ГК «Да-Стратегия», старший научный сотрудник факультета психологии МГУ имени
            М.В.
            Ломоносова, к. психолог. н.
          </p>
        </div>
      </div>
    </div>

    <img src="../img/elipse.png">
  </div>

  <br>
  <br>

  <iframe name="iframe1" style="position: absolute; left: -9999px;"></iframe>

  <div class="ten-block">
    <a name="submit"></a>
    <h1 class="text-center" id="submit">Пода<span>ть з</span>аявку</h1>
    <br>
    <br>
    <h3 class="text-center">Заполните форму:</h3>
    <div class="container-fluid">
      <form id="formFeedback" action="/feedback" method="POST" target="iframe1">
        <fieldset class="form-group">
          <div class="row">
            <div class="row justify-content-between container-fluid offset-2 col-8">
              <div class="col-3 custom-control custom-radio custom-control-inline">
                <input type="radio" id="customRadioInline1" name="ivent" class="custom-control-input"
                       value="20 сентября. Современный IT-рекрутинг.«Генератор идей». ">
                <label class="custom-control-label" for="customRadioInline1">
                  <p>
                    <b>20 сентября</b>
                    <br>Современный IT-рекрутинг.
                    <br>«Генератор идей».
                  </p>
                </label>
              </div>
              <div class="col-3 custom-control custom-radio custom-control-inline">
                <input type="radio" id="customRadioInline2" name="ivent" class="custom-control-input"
                       value="20 сентября. Современный IT-рекрутинг.«Генератор идей». ">
                <label class="custom-control-label" for="customRadioInline2">
                  <p>
                    <b>20 сентября</b>
                    <br>Современный IT-рекрутинг.
                    <br>«Генератор идей».
                  </p>
                </label>
              </div>
              <div class="col-3 custom-control custom-radio custom-control-inline">
                <input type="radio" id="customRadioInline3" name="ivent" class="custom-control-input"
                       value="20 сентября. Современный IT-рекрутинг.«Генератор идей». ">
                <label class="custom-control-label" for="customRadioInline3">
                  <p>
                    <b>20 сентября</b>
                    <br>Современный IT-рекрутинг.
                    <br>«Генератор идей».
                  </p>
                </label>
              </div>
            </div>
          </div>
        </fieldset>
        <div class="form-group row">
          <input type="text" class="form-control offset-2 col-8"  name="FI" placeholder="Ваше имя и фамилия полностью">
        </div>
        <div class="form-group row">
          <input type="text" class="form-control offset-2 col-8" name="age" placeholder="Возраст">
        </div>
        <div class="form-group row">
          <input type="text" class="form-control offset-2 col-8" name="edu"
                 placeholder="Образование (вуз, факультет, год окончания)">
        </div>
        <div class="form-group row">
          <input type="text" class="form-control offset-2 col-8" name="interests"
                 placeholder="Область профессиональных интересов">
        </div>
        <div class="form-group row">
          <input type="text" class="form-control offset-2 col-8" name="startup"
                 placeholder="Есть ли опыт организации стартапа? Если да, то в каких сферах">
        </div>
        <div class="form-group row">
          <input type="text" class="form-control offset-2 col-8" name="phone" placeholder="Телефон">
        </div>
        <div class="form-group row">
          <input type="text" class="form-control offset-2 col-8" name="email" placeholder="E-mail">
        </div>
        <div class="form-group row justify-content-center mr-5 offset-2 col-8">
          <div class="col-4">
            <p >Подтвердите, что вы не робот</p>
          </div>
          <div class="col-4">
            <button id="formsubmitEnd" type="submit" class="offset-2 col-8 red-button btn-disabled"
                    data-toggle="modal" data-target="#flipFlop">Подать заявку
            </button>
          </div>
          <div class="col-4">
            <h3 id="submitText" style="visibility:hidden">Заявка подана!</h3>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>


<div class="offset-2 col-8 row">
  <div class="col-2">
    <div class="captcha_wrap">
      <div class="captcha">
        Расставьте по порядку
      </div>
      <ul id="sortable">
        <li class="captchaItem">1</li>
        <li class="captchaItem">2</li>
        <li class="captchaItem">3</li>
        <li class="captchaItem">4</li>
        <li class="captchaItem">5</li>
        <li class="captchaItem">6</li>
      </ul>
    </div>
    <div class="col-2">
      <div>
        <button id="formsubmit" class="ml-2 cyan-button" data-toggle="modal" data-target="">Готово</button>
      </div>
    </div>
  </div>
</div>


<!-- The modal -->
<div class="modal fade" id="flipFlop" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="modalLabel">Готово!</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Ваша заявка отправлена.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="flipFlop2" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="modalLabel2">Упс</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Капча не верна.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>

<br>


<div class="contacts mt-5 pt-5">
  <a name="contacts"></a>

  <div class="row container-fluid">
    <img class="col-auto" src="../img/foot.png">

    <div class="main-b offset-7 col-5">
      <div class="down-b">
        <h5>Остались вопросы?</h5>
        <p>
          Пишите: <b>dastrateg@ya.ru</b>
        </p>
        <p>
          Звоните: <b>+7(499)400-56-98</b>
        </p>
      </div>

    </div>
  </div>
</div>


<div class="footer">
  <div class="position-absolute mt-4 ml-4">
    <p>Стартап-студия "Система 2"</p>
  </div>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

<script type="text/javascript" src="../js/animations.js"></script>

<script type="text/javascript" src="js/jquery-1.3.2.js"></script>
<script type="text/javascript" src="../js/ui.core.js"></script>
<script type="text/javascript" src="../js/ui.sortable.js"></script>

<script type="text/javascript" src="../js/captcha.js"></script>



</body>
</html>