body {
    font-size: 1rem;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes showing {
    0% {
        opacity: 0;
    }
}

/* Standard syntax */
@keyframes showing {
    0% {
        opacity: 0;
    }

}

.hid {
    visibility: hidden;
}

.showing {
    -webkit-animation-name: showing; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 2s; /* Chrome, Safari, Opera */
    animation-name: showing;
    animation-duration: 2s;
}

h1 span, h2 span, h3 span, p span {
    border-bottom: 0.7rem solid #990300;
}

.first-block {
    text-align: right;
}

.first-block .text-front {
    top: 20vh;
}

.header-buttons a {
    font-weight: bold;
    text-decoration: none;
    color: black;
}

.red-button {
    text-decoration: none !important;
    font-weight: bold;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    color: #ffffff !important;
    background: #981d17;
    border: none;
}

.btn-disabled{
    pointer-events: none;
    color: #cccccc !important;
    background: rgba(152, 29, 23, 0.62);
}

.cyan-button {
    text-decoration: none !important;
    font-weight: bold;
    padding: 0.4rem;
    padding-left: 1rem;
    padding-right: 1rem;
    color: white !important;
    background: #008fa3 !important;
    border: none;
}

.header div a img {
    width: 10.5rem;
    height: 3rem;
}

.img-back {
    right: 0;
    height: 100vh;
    width: auto;
    max-width: 100%;
}

@media screen and (max-width: 1025px) {
    .img-back {
        height: auto;
    }
}

.text-front {
    text-align: left;
    position: absolute;
}

.red {
    color: #981d17;
}

h1 {
    font-size: 57px;
}

@media screen and (min-width: 1367px) {
    h1 {
        font-size: 60px;
    }
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2rem;
}

h5 {
    font-size: 2rem;
}

.main-b {
    position: relative; /* добавили */
}

.down-b {
    position: absolute; /* добавили */
    bottom: 0.4rem; /* добавили */
}

.second-block {
    line-height: 1.1em;
}

.second-block img {
    width: 50%;
    height: 1%;
    max-height: 80vh;
}

@media screen and (min-width: 1367px) {
    .second-block {
        font-size: 1.4rem;
    }
}

.third-block img {
    width: 100%;
}

.third-block p {
    font-size: 1rem;
    border-left: #008fa3 solid 0.5rem;
    padding-left: 2rem;
}

@media screen and (min-width: 1367px) {
    .third-block p {
        font-size: 1.5rem;
    }
}

.forth-block div div div div {
    color: white;
    background: linear-gradient(to left, #007080, #57bfd2);
    padding: 0;
}

.forth-block div div div div p:first-child {
    line-height: 3rem;
    font-size: 5rem;
    font-weight: bold;
}

.forth-block li {
    padding-right: 2rem;
}

.forth-block div div div div p:nth-child(n+2) {
    padding-left: 2rem;
    padding-right: 2rem;
}

.forth-block div div div div {
    padding-bottom: 0.1rem;
}

.forth-block img {
    padding-top: 4rem;
    width: 100%;
}

.forth-block .down-b {
    bottom: auto;
}

@media screen and (min-width: 1367px) {
    .forth-block p, .forth-block li {
        font-size: 1.5rem;
    }
}

.five-block .left-b {
    padding-left: 1rem;
    border-left: white solid 4px;
    font-weight: bold;
    font-size: 1rem;
}

.five-block .row {
    padding-top: 5rem;
}

.five-block {
    font-size: 1.4rem;
}

.five-block div, .six-block img {
    width: 100%
}

.five-block img {
    height: 100vh;
    width: 100%;
}

@media screen and (min-width: 1367px) {
    .five-block .left-b {
        font-size: 1.4rem;
    }

    .five-block {
        font-size: 1.4rem;
    }
}

.six-block div div:first-child img {
    padding-left: 0.1rem;
    width: 2rem;
}

@media screen and (min-width: 1367px) {
    .six-block {
        font-size: 1.2rem;
    }

    .six-block div div:first-child img {
        padding-left: 0.1rem;
        width: 3rem;
    }
}

.seven-block {
    line-height: 1.2em;
}

.seven-block .down-b {
    bottom: 12rem;
}

.seven-block img {
    width: 50%;
    height: 1%;
    max-height: 80vh;
}

@media screen and (min-width: 1367px) {
    .seven-block {
        font-size: 1.5rem;
    }
}

.eight-block {
    text-align: right;
}

.eight-block div div {
    text-align: left;
}

.eight-block > img {
    padding-right: 10rem;
    padding-top: 20rem;
    width: 40rem;
    margin-bottom: -5rem;
}

@media screen and (min-width: 1367px) {
    .eight-block > img {
        padding-right: 20rem;
        padding-top: 30rem;
        width: 50rem;
        margin-bottom: -5rem;
    }
}

.eight-block div div img {
    width: inherit;
}

.eight-block .down-b {
    bottom: auto;
}

.ten-block {
    font-size: 1.4rem;
}

.form-check-input {
    position: absolute;
    top: 0.4rem;
}

.contacts {
    line-height: 1.2em;
}

.contacts .down-b {
    bottom: 1rem;
}

.contacts img {
    width: 60%;
    height: 1%;
}

.contacts {
    bottom: 0rem !important;
    font-size: 1.4rem;
}

.footer {
    font-size: 1.4rem;
    color: white !important;
    background: linear-gradient(to left, #007080, #57bfd2);
    width: 100%;
    height: 5rem;
}

@media screen and (max-width: 1025px) {
    .seven-block .down-b {
        bottom: 0 !important;
    }

    .forth-block {
        font-size: 0.8rem;
    }
}

.mar-top-minus {
    margin-top: -2rem;
}